<!DOCTYPE html>
{%- assign _parts = page.dir | replace_first: "/", "" | split: "/" %}
{%- capture root %}{%- for _ in _parts %}/..{% endfor %}{% endcapture %}
{%- assign root = root | default: "." | replace_first: "/", "" %}
{%- assign root_ = root | append: "/" %}
<html class="top" data-root="{{ root }}"{% if site.language %} lang="{{ site.language }}"{% endif %}>
 <head>
  <meta charset="utf-8" />
  <title>{{ site.title | strip_html | escape }}{% if page.title %} · {{ page.title | strip_html | escape }}{% endif %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ root }}/favicon.ico" />
  <meta name="viewport" content="width=360, initial-scale=1" />
  <link rel="stylesheet" href="{{ root }}/static/colors.css" />
  <link rel="stylesheet" href="{{ root }}/static/main.css" />
  <link rel="stylesheet" href="{{ root }}/static/fonts.css" />
  <script src="{{ root }}/static/gumshoe.polyfills.min.js" async></script>
  <script src="{{ root }}/static/main.js" async></script>
 </head>
 <body>
  <header class="fixed">
   <h1>
    <a href="{{ root }}/">
     <span class="name">{{ site.title | escape }}</span>
     <span class="icon">
      <img src="{{ root }}/static/icon/inline.svg" alt="" />
      <img src="{{ root }}/static/icon/inline-inverted.svg" alt="" class="dark" />
     </span>
     <span class="name mobile">{{ site.title | escape }}</span>
    </a>
   </h1>
{% include nav.html %}  </header>
  <main>
{{ content | rstrip }}
  </main>
  <footer class="">
{% include footer.html %}  </footer>
 </body>
</html>
